{% extends "::base.html.twig" %}

{% block title %} pokaż nauczyciela {% endblock %}

{% block body %}
    <h1>Dane nauczyciela</h1>

    Nauczyciel: {{ teacher.name }} <br/>
    Doświadczenie: {{ teacher.experience }} <br/><br/>

    Przypisani uczniowie: <br/>
    <ul>
        {% for pupil in teacher.pupils %}
            <li>{{ pupil.name }}</li>
        {% else %} Brak uczniów
        {% endfor %}
    </ul>

{% endblock %}
