{% extends "::base.html.twig" %}

{% block title %} Pokaż nauczyciela {% endblock %}

{% block body %}
    <h1>Welcome to the Teacher: pokaż nauczyciela</h1>

    Nauczyciel: {{ teacher.name }} <br/>
    Doświadczenie: {{ teacher.experience }} <br/>

    Uczniowie: <br/>
    <ul>
        {% for pupil in teacher.pupils %}
            <li>{{ pupil.name }}</li>
        {% else %} brak uczniow
        {% endfor %}
    </ul>

{% endblock %}
