{% extends "::base.html.twig" %}

{% block title %}ExamBundle:ccwrc:sayHello{% endblock %}

{% block body %}
<h1>Welcome to the ccwrc:sayHello page</h1>

{% for i in 1..n %}
    {{ userName }} <br/>
{% else %}
    Nie przekazano wartości.
{% endfor %}

{% endblock %}
