{% extends "::base.html.twig" %}

{% block title %}ExamBundle:PostController:showFooBarPosts{% endblock %}

{% block body %}
<h1>Welcome to the PostController:showFooBarPosts page</h1>
{% endblock %}
