{% extends '::base.html.twig' %}

{% block title %} wyświetlanie uczniów {% endblock %}

{% block body %}

    <h1>Lista uczniów</h1>    
    {% for pupil in pupils %}
        Imię i nazwisko ucznia: {{ pupil.name }}, ID: {{ pupil.id }}, wiek: {{ pupil.age }} <br/>
    {% else %}
        Nie ma uczniów z wymaganymi parametrami
    {% endfor %}

{% endblock %}
