{% extends '::base.html.twig' %}

{% block title %} nowy uczeń - formularz {% endblock %}

{% block body %}

    <form action="{{ path("app_pupil_createpupil") }}" method="POST">
        <input type="text" name="name" value="Imię i nazwisko ucznia"> <br/>
        <input type="number" name="age" value="Wiek"> <br/>
        <input type="text" name="description" value="Krótki opis"> <br/>
        <input type="submit">
    </form>

{% endblock %}
