{% extends '::base.html.twig' %}

{% block title %} pokaż ucznia, jedną sztukę {% endblock %}

{% block body %}

    <div>
        <h1>Uczeń o id {{ pupil.id }}</h1>
        Imię i nazwisko: {{ pupil.name }} <br/>
        Wiek: {{ pupil.age }} <br/>
        Opis: {{ pupil.description }} <br/>
    </div>

{% endblock %}
