{% extends '::base.html.twig' %}

{% block title %} pokaz ucznia {% endblock %}

{% block body %}

    <div>
        <h1>uczen o id {{ pupil.id }}</h1>
        imie {{ pupil.name }} <br/>
        wiek {{ pupil.age }} <br/>
        opis {{ pupil.description }} <br/>
    </div>
    
{% endblock %}
