.form1 {
    width: 400px; 
    color: grey;
    padding: 2px; 
}

div form label {
    color: grey;
    font-size: 25px;
    font-weight: bold; 	
    padding-bottom: 2px; 
}

div.form2 form label {
    color: grey;
    font-size: 18px;
}

.checkpoint {
    -webkit-appearance: checkbox; /* Chrome, Safari, Opera */
    -moz-appearance: checkbox;    /* Firefox */
    -ms-appearance: checkbox;     /* not currently supported */
}