{% extends "CodersLabBundle:Default:index.html.twig" %}

{% block title %}widok b1{% endblock %}

{% block controller_name %} {{ _self.getTemplateName() }} {% endblock %}

{% block body %}
    <h1>Witaj w widoku dla zadania B1</h1>
    <p>
        Zmienna przesłana z kontrolera to: {{ username }}
    </p>
{% endblock %}
