{% block body %}
    <form action="/createBook" method="POST">
        <input type="text" name="title" value="tytuł książki"/> <br/>
        <input type="text" name="description" value="opis książki"/> <br/>
        rating: <input type="number" name="rating" value="0.00"/> <br/>
        <input type="submit" value="kliknij"/>
    </form>
{% endblock %}
