body {
    background-color: blue;
}

.brazowy {
    color: brown; 
}

.block {
    border: 1px dotted black;
}

#colorgreen {
    color: green;
}

#colorviolet {
    color: violet;
}
