{% extends "::base.html.twig" %}

{% block title %}CodersLabBundle:Author:showAuthor{% endblock %}

{% block body %}
    <h1>Welcome to the Author:showAuthor page</h1>

    {% for author in authors %}
        {{ author.name }} <br/>
        {{ author.description }} <br/><br/>
    {% else %}
        Brak autorów w bazie
    {% endfor %}

{% endblock %}

