{% extends "::base.html.twig" %}

{% block title %}CodersLabBundle:Author:showAuthor{% endblock %}

{% block body %}
    <h1>Welcome to the Author:showAuthor page</h1>

    {% for author in authors %}
        {{ author.name }} <br/>
        {{ author.description }} <br/>
        <a href="{{ path("coderslab_author_editauthor", {"id":author.id}) }}">Edytuj</a> <br/><br/>
    {% else %}
        Brak autorów w bazie
    {% endfor %}

{% endblock %}

