{% extends "::base.html.twig" %}

{% block title %}new author{% endblock %}

{% block body %}
    <form action="/createAuthor" method="POST">
        <input type="text" name="nameSurname" value="imię i nazwisko autora"/> <br/>
        <input type="text" name="description" value="opis"/> <br/>
        <input type="submit" value="kliknij"/>
    </form>
{% endblock %}
