{% extends "::base.html.twig" %}

{% block title %}showAllAuthors{% endblock %}

{% block body %}

    {% for author in authors %}
        Imię i nazwisko: {{ author.nameSurname }} <br/>
        Opis: {{ author.description }} <br/>
        <a href="{{ path('coderslab_author_displayauthor', {"id":author.id}) }}">szczegółowe informacje</a>
        <br/><br/>
    {% else %}
        Brak autorów w bazie.
    {% endfor %}

{% endblock %}
