{% extends '::base.html.twig' %}

{% block title %} pokaż wszystkie klasy {% endblock %}

{% block body %}

    <ul>
        {% for class in allClasses %}
            <li>{{ class.name }}
                <a href="{{ path("app_classroom_getoneclass", {"id" : class.id}) }}"> Pokaż </a>
                <a href="{{ path("app_classroom_deleteclassroom", {"id" : class.id}) }}"> Skasuj </a>
                <a href="{{ path("app_classroom_modifyclassroom", {"id" : class.id}) }}"> Edytuj </a>
            </li>
        {% else %} Nie ma żadnych klas, reforma edukacji górą
        {% endfor %}
    </ul>

{% endblock %}
