{% extends '::base.html.twig' %}

{% block title %} formularz do dodania nowej klasy {% endblock %}

{% block body %}

    <form action="{{ path("app_classroom_createnewclassroom") }}" method="POST">
        <input type="text" name="className" value="wpisz nazwę klasy">
        <input type="submit" value="Dodaj klasę">
    </form>

{% endblock %}