{% extends '::base.html.twig' %}

{% block title %} pokaz klase {% endblock %}

{% block body %}

    <div>
       <h1> {{ class.name }} </h1>
    </div>
    
    <div>
        {% for pupil in class.pupils %}
            uczen {{ pupil.id }} nazw {{ pupil.name }} <br/>
        {% endfor %}
    </div>
    
    
    
       {{ dump(class) }}
    
{% endblock %}
