{% extends "::base.html.twig" %}

{% block title %}CodersLabBundle:Tweet:showAll{% endblock %}

{% block body %}
<h1>Welcome to the Tweet:showAll page</h1>

    {% for tweet in tweets %}
    nazwa: {{ tweet.name }} tekst: {{ tweet.text }} <br/>
    {% else %}
        Brak tweetów w bazie
    {% endfor %}

{% endblock %}
