<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}3 - widoki i twig{% endblock %}</title>
    </head>

<body>
    <h1>{% block controller_name %}
        Widok domyślny - nazwa kontrolera
        {% endblock %}</h1>

        <div>{% block body %}
            Widok domyślny - blok body
            {{ _self.getTemplateName() }}
            {{ dump(_self) }}
            {% endblock %}</div>
                
        <div class="menu">Menu na stałe, klejone na dół</div>   
        <style>
            div.menu {
                clear: both;
                position: fixed;
                bottom: 0;
                min-height:80px;
                margin: 5px;
                border-radius: 7px;
                text-align: center;
                color: black; 
            }
        </style>
        </body>
    </html>


