{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}
    
    <h3>Rejestracja - już po dziedziczeniu</h3><br/>

    {% include "@FOSUser/Registration/register_content.html.twig" %}

{% endblock fos_user_content %}
